<html>
<head>

</head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/B.css' />

<body>
<div style="display: flex; align-items: center">
    <canvas id="myCanvas"> </canvas>
    <table id="myTable" style="float: right">
        <thead>
        <tr>
            <th>Rectangle</th>
            <th>Active</th>
            <th>currentSpeed (px/s)</th>
            <th>averageSpeed (px/s)</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<br />
<button id="overlap">Toggle overlap</button>

<button id="replay">REPLAY</button>
</body>
</html>


<script type="module" src="./javascripts/B.js">





</script>